<h1><b><strong>Terms and Conditions</strong></b></h1>

<h4>
    Hello Simple-redditors. 
    We want you to know our rights and your rights of using this site.
    so we have prepared these Terms and Conditions ("Terms of Use) between simple-reddit ("we", "us") and you.
    This agreement sets the terms of your use of the simple-reddit site and services ("simple-reddit") include posts, subreddits, Communities.
    These rules are in order to encourage a fair place for ideas, people, and discussions.
</h4>

<h2>
    The Legal Stuff
</h2>

<h4>
    These terms are between you and us. 
    By this, We expect that you have read, understood, and agree to the terms and conditions. 
    If you do not agree to these, you should'nt use the simple-reddit.
    Please take a look at simple-reddit's privacy policy tooo
    — as it explains you about how your information is collected and used by us.
</h4>


<h2>
    Your access to Simple-Reddit
</h2>

<h4>
    Without any notice,
    we may, for violations of these Terms of use or for some other reasons we may choose: 
    <br>
    (->) we suspend your access to simple-reddit,
    <br>
    (->) we may suspend or else completely terminate your simple-reddit Account and/or 
    <br>
    (->) we'll remove all your User Content from simple-reddit.
    <br>
    We do reserve the right to monitor the simple-reddit, 
    and your usage of our Services means that you have agreed to such monitoring by us.
    In the same time, we don't guarantee we will monitor in all instances.
</h4>

<h2>
    Simple-Reddit is for your personal & lawful use
</h2>

<h4>
    Simple-reddit is designed for just the personal use itself. 
    You should not use simple-reddit to break the laws, 
    or to violate some individual's privacy,
    or to break any person's intellectual property 
    or any other kinds of the proprietary rights.
</h4>

<h2>
    Simple-Reddit is for fun
</h2>

<h4>
    Simple-reddit is a place for entertainment. 
    We aren't responsible for decisions you may make based upon something you have read at Simple- reddit.
</h4>

<h2>
    Simple-Reddit is not a Marketplace
</h2>

<h4>
    It is not a marketplace for any goods and services.
    However, you can find some coupons, links, deals and other 3rd party offers on simple-reddit.
</h4>

<h2>
    Your reddit account
</h2>

<h4>
    To use simple-reddit, you have to create account with your username and password 
    and, at instances when you want to reset your password or have us contact you,
    an email address should be provided as well.
    You can also browse Simple-reddit without logging in.
    <br>
    You are solely responsible for the information associated with Your Account 
    and anything that happens related to Your Account.

</h4>

<h2>
    Content
</h2>

<h4>
    simple-reddit content is always protected by intellectual property laws including copyright policy 
    and some other proprietary rights according to countries.

    We grant you to access the content strictly in the manner described according to the terms of use. 

    You retain the rights to your copyrighted content 
    or information that you submit to simple-reddit
</h4>

<h2>
    We don't endorse user content
</h2>

<h4>
    We take no responsibility and we don't implicitly or explicitly endorse,
    and we don't assume any liability to any of the user content submitted by you to simple-reddit.

</h4>

<h2>
    Links and Simple-Reddit
</h2>

<h4>
   Simple-reddit is a place consisting many of the third-party hyperlinks posted by users likewise to you.
   We are not solely responsible for the actions of any of the third party websites associated with those posted links.
</h4>

<h3>
    Don't spam the Simple-Reddit community
</h3>

<h3>
    Do not mess with Simple-Reddit
</h3>

<h3>
    Respect users that edit their content
</h3>

<button mat-flat-button color="primary" class="hover-class1" routerLink="/home">
    Back
</button>

<!--Scroll to top-->

<div class="scroll-to-top " [ngClass]="{'show-scrollTop': windowScrolled}">
    <button type="button" class="btn active hover-class2" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
        <i class="fas fa-chevron-up" ></i>
        Top
    </button>
  </div>
