<h1><b><strong>Terms and Conditions</strong></b></h1>

<h4>
    Hello Simple-redditors. 
    We want you to know our rights and your rights of using this site.
    so we have prepared these Terms and Conditions ("Terms of Use) between simple-reddit ("we", "us") and you.
    This agreement sets the terms of your use of the simple-reddit site and services ("simple-reddit") include posts, subreddits, Communities.
    These rules are in order to encourage a fair place for ideas, people, and discussions.
    <br>
    <br>
    Remember Simple-Reddit is for fun and is intended to be a place for your entertainment,
    but we still need some basic rules.
    By accessing or using our Services, you agree to be bound by these Terms.
    If you do not agree to these Terms, you may not access or use our Services.
</h4>

<h2>
    1. The Legal Stuff
</h2>

<h4>
    These terms are between you and us. 
    By this, We expect that you have read, understood, and agree to the terms and conditions. 
    If you do not agree to these, you should'nt use the simple-reddit.
    Please take a look at simple-reddit's privacy policy tooo
    — as it explains you about how your information is collected and used by us.
</h4>


<h2>
    2. Your access to Simple-Reddit
</h2>

<h4>
    No one under 13 is allowed to use or access the Services.
    We may offer additional Services that require you to be older to use them,
    so please read all notices and any Additional Terms carefully when you access the Services.
    
    <br>

<h3>
    By using the Services, you state that: 
</h3>
    
    -> You are at least 13 years old and over the minimum age required by the laws of your country
    of residence to access and use the Services;
    <br>
    -> You can form a binding contract with Reddit, or, if you are 
    over 13 but under the age of majority in your jurisdiction, 
    that your legal guardian has reviewed and agrees to these Terms;
    <br>
    -> You are not barred from using the Services under all applicable laws;
    <br>
    ->You have not been permanently suspended or removed from the Services.
    <br>
    <br>
    Without any notice,
    we may, for violations of these Terms of use or for some other reasons we may choose: 
    <br>
    <br>
    -> we suspend your access to simple-reddit,
    <br>
    -> we may suspend or else completely terminate your simple-reddit Account and/or 
    <br>
    -> we'll remove all your User Content from simple-reddit.
    <br>
    We do reserve the right to monitor the simple-reddit, 
    and your usage of our Services means that you have agreed to such monitoring by us.
    In the same time, we don't guarantee we will monitor in all instances.
    <br>
    If you are accepting these Terms on behalf of another legal entity,
    including a business or government entity, you represent that you have full legal authority to
    bind such entity to these Terms.

</h4>

<h2>
    3. Privacy
</h2>

<h4>
    Simple-Reddit’s 
    <button mat-button color="primary" routerLink="/privacypolicy">
        "Privacy Policy"
    </button> 
    explains how and why we collect, use, 
    and share information about you when you access or use our Services. 
    You understand that through your use of the Services, you consent to 
    the collection and use of this information as set forth in the Privacy Policy.
</h4>

<h2>
    4. Use of the Services
</h2>

<h4>
    Subject to your complete and ongoing compliance with these Terms,
    Simple-Reddit grants you a personal, non-transferable, non-exclusive, revocable,
    access and use the Services. 
    We reserve all rights not expressly granted to you by these Terms.
</h4>

<h4>
    Except and solely to the extent such a restriction is impermissible under applicable law,
    you may not, without our written agreement:
</h4>

<h4>
    ->license, sell, transfer, assign, distribute, host, or otherwise commercially exploit the Services or Content;
    <br>
    ->modify, prepare derivative works of, disassemble, decompile, or reverse engineer any part of the Services 
    or Content;
    <br>
    ->access the Services or Content in order to build a similar or competitive website, 
    product, or service, except as permitted under the Simple-Reddit API Terms of Use.
</h4>
<h4>
    We are always improving our Services. 
    This means we may add or remove features, products, or functionalities; 
    we will try to notify you beforehand, but that won’t always be possible.
    We reserve the right to modify, suspend, or discontinue the Services (in whole or in part) at any time, 
    with or without notice to you. Any future release, update, or other addition to functionality of the Services 
    will be subject to these Terms, which may be updated from time to time. 
    You agree that we will not be liable to you or to any third party for any modification, suspension, 
    or discontinuation of the Services or any part thereof.
</h4>

<h2>
    5. Simple-Reddit is for your personal & lawful use
</h2>

<h4>
    Simple-reddit is designed for just the personal use itself. 
    You should not use simple-reddit to break the laws, 
    or to violate some individual's privacy,
    or to break any person's intellectual property 
    or any other kinds of the proprietary rights.
</h4>

<h2>
    6. Simple-Reddit is for fun
</h2>

<h4>
    Simple-reddit is a place for entertainment. 
    We aren't responsible for decisions you may make based upon something you have read at Simple- reddit.
</h4>

<h2>
   7. Simple-Reddit is not a Marketplace
</h2>

<h4>
    It is not a marketplace for any goods and services.
    However, you can find some coupons, links, deals and other 3rd party offers on simple-reddit.
</h4>

<h2>
    8. Your Simple-Reddit account
</h2>

<h4>
    To use simple-reddit, you have to create account with your username and password 
    and certain other information about yourself as set forth in the 
    <button mat-button color="primary" routerLink="/privacypolicy">
        "Privacy Policy"
    </button> 
    . At instances when you want to reset your password or have us contact you,
    an email address should be provided as well.
    You can also browse Simple-reddit without logging in.
    <br>
    You are solely responsible for the information associated with your Account 
    and anything that happens related to your Account. 
    You must maintain the security of your Account and immediately notify 
    Simple-Reddit if you discover or suspect that someone has accessed your Account without your permission. 
    We recommend that you use a strong password.
    <br>
    You will not license, sell, or transfer your Account without our prior written approval.


</h4>

<h2>
   9. Content
</h2>

<h4>
    The Services may contain information, text, links, graphics or other materials (“Content”), 
    including Content created with or submitted to the Services by you or through your Account (“Your Content”).
    We take no responsibility for and we do not expressly or implicitly endorse, support, 
    or guarantee the completeness, truthfulness, accuracy, or reliability of any of Your Content.
    <br>
    <br>
    By submitting Your Content to the Services, you represent and warrant that you have all 
    rights, power, and authority necessary to grant the rights to Your Content contained within these Terms.
    Because you alone are responsible for Your Content, you may expose yourself to liability if you post
    or share Content without all necessary rights.
    <br>
    You retain any ownership rights you have in Your Content, but you grant Simple-Reddit the following
    license to use that Content:
    <br>
    When Your Content is created with or submitted to the Services, you grant us a worldwide, 
    royalty-free, perpetual, irrevocable, non-exclusive, transferable, and sublicensable license to use, copy, 
    modify, adapt, prepare derivative works of, distribute, store, perform, and display 
    Your Content and any name, username, voice, or likeness provided in connection with Your Content in 
    all media formats and channels now known or later developed anywhere in the world. 
    This license includes the right for us to make Your Content available for syndication, broadcast, distribution, 
    or publication by other companies, organizations, or individuals who partner with Simple-Reddit. 
    You also agree that we may remove metadata associated with Your Content, and you irrevocably waive any 
    claims and assertions of moral rights or attribution with respect to Your Content.
    <br>
    <br>
    Any ideas, suggestions, and feedback about Reddit or our Services that you provide to us are entirely voluntary,
    and you agree that Simple Reddit may use such ideas, suggestions, and feedback without compensation or obligation to you.
    <br>
    Although we have no obligation to screen, edit, or monitor Your Content, we may, in our sole discretion,
     delete or remove Your Content at any time and for any reason, including for violating these Terms, violating 
     our 
     <button mat-button color="primary" routerLink="/contentpolicy">
        "Content Policy"
    </button> 
    , or if you otherwise create or are likely to create liability for us.
</h4>

<h2>
    10. We don't endorse user content
</h2>

<h4>
    We take no responsibility and we don't implicitly or explicitly endorse,
    and we don't assume any liability to any of the user content submitted by you to simple-reddit.

</h4>

<h2>
    11. Third-Party Content, Advertisements, and Promotions
</h2>

<h4>
    The Services may contain links to third-party websites, products, or services, which may be posted by advertisers,
    our affiliates, our partners, or other users (“Third-Party Content”). Third-Party Content is not under our control,
    and we are not responsible for any third party’s websites, products, or services. 
    Your use of Third-Party Content is at your own risk and you should make any investigation you feel 
    necessary before proceeding with any transaction in connection with such Third-Party Content.
    <br>
    The Services may also contain sponsored Third-Party Content or advertisements. 
    The type, degree, and targeting of advertisements are subject to change, and you acknowledge and agree 
    that we may place advertisements in connection with the display of any Content or information on the Services,
    including Your Content.
    <br>
    <br>
    If you choose to use the Services to conduct a promotion, including a contest or sweepstakes (“Promotion”), 
    you alone are responsible for conducting the Promotion in compliance with all applicable laws and regulations, 
    including but not limited to creating official rules, offer terms, eligibility requirements, 
    and compliance with applicable laws, rules, and regulations which govern the Promotion 
    (such as licenses, registrations, bonds, and regulatory approval). Your Promotion must state that the Promotion 
    is not sponsored by, endorsed by, or associated with Reddit, and the rules for your Promotion must require each 
    entrant or participant to release Reddit from any liability related to the Promotion. You acknowledge and agree that 
    we will not assist you in any way with your promotion, and you agree to conduct your Promotion at your own risk.

</h4>

<h2>
    12. Things You Cannot Do
</h2>

<h4>
    When using or accessing Simple Reddit, you must comply with these Terms and all applicable laws, rules, 
    and regulations. Please review the Content Policy (and, where applicable, the Broadcasting Content Policy),
    which are incorporated by this reference into, and made a part of, these Terms and contain Reddit’s rules about 
    prohibited content and conduct. In addition to what is prohibited in the Content Policy, you may not do any of 
    the following:
    <br>
    -->Use the Services in any manner that could interfere with, disable, disrupt, overburden, or otherwise impair the Service;
    <br>
    -->Gain access to (or attempt to gain access to) another user’s Account or any non-public portions of the Services, 
    including the computer systems or networks connected to or used together with the Services;
    <br>
    -->Upload, transmit, or distribute to or through the Services any viruses, worms, malicious code, or other
     software intended to interfere with the Services, including its security-related features;
    <br>
    -->Use the Services to violate applicable law or infringe any person’s or entity's intellectual property 
    rights or any other proprietary rights;
    <br>
    -->Access, search, or collect data from the Services by any means (automated or otherwise) except as permitted 
    in these Terms or in a separate agreement with Reddit (we conditionally grant permission to crawl the Services 
    in accordance with the parameters set forth in our robots.txt file, but scraping the Services without Simple Reddit’s prior 
    consent is prohibited); 
    <br>
    -->Use the Services in any manner that we reasonably believe to be an abuse of or fraud on Reddit
    or any payment system.
    <br>
    We encourage you to report content or conduct that you believe violates these Terms or our Content Policy.
     We also support the responsible reporting of security vulnerabilities. To report a security issue, 
     please email us.


</h4>

<h2>
    13. Intellectual Property
</h2>

<h4>
    The Services are owned and operated by Reddit. The visual interfaces, graphics, design, compilation, 
    information, data, computer code, products, services, trademarks, and all other elements of the Services (“Materials”)
    provided by Reddit are protected by intellectual property and other laws. All Materials included in the 
    Services are the property of Reddit or its third-party licensors. You acknowledge and agree that you shall not 
    acquire any ownership rights whatsoever by downloading Materials or by purchasing Reddit Premium or Virtual Goods. 
    Except as expressly authorized by Reddit, and subject to Reddit’s Brand Guidelines, you may not make use of the 
    Materials. Reddit reserves all rights to the Materials not granted expressly in these Terms.
</h4>

<h2>
    14. Indemnity
</h2>

<h4>
    Except to the extent prohibited by law, you agree to defend, indemnify, and hold Reddit, its affiliates, 
    and their respective, directors, officers, employees, affiliates, agents, contractors, third-party service providers,
    and licensors (the “Reddit Entities”) harmless from and against any claim or demand made by any third party, 
    and any related liability, damage, loss, and expense (including costs and attorneys’ fees) due to, arising out of, 
    or in connection with: (a) your use of the Services, (b) your violation of these Terms, 
    (c) your violation of applicable laws or regulations, or (d) Your Content. We reserve the right to control 
    the defense of any matter for which you are required to indemnify us, and you agree to cooperate with 
    our defense of these claims.

</h4>

<h2>
   15. Links and Simple-Reddit
</h2>

<h4>
   Simple-reddit is a place consisting many of the third-party hyperlinks posted by users likewise to you.
   We are not solely responsible for the actions of any of the third party websites associated with those posted links.
</h4>

<h2>
    16. Disclaimers and Limitation of Liability
</h2>

<h4>
    Nothing in these Terms will prejudice the statutory rights that you may have as a user of the Services. 
    Some countries, states, provinces or other jurisdictions do not allow the exclusion of certain warranties or the 
    limitation of liability as stated in this section, so the below terms may not fully apply to you. Instead, in such 
    jurisdictions, the exclusions and limitations below shall apply only to the extent permitted by the laws of such jurisdictions.
    <br>
    the services are provided “as is” and “as available” without representations, warranties, or conditions of 
    any kind, whether express, implied, legal, or statutory, including, but not limited to, implied warranties 
    of merchantability, title, fitness for a particular purpose, and non-infringement. the simple-reddit entities do 
    not warrant that the services are accurate, complete, reliable, current, or error free. reddit does not control, 
    endorse, or take responsibility for any content available on or linked to the services or the actions of 
    any third party or user, including moderators. while reddit attempts to make your access to and use of our services 
    safe, we do not represent or warrant that our services or servers are free of viruses or other harmful components.
    <br>
    In no event will any of the simple reddit entities be liable to you for any indirect, consequential, exemplary, 
    incidental, special, or punitive damages, or lost profits arising from or relating to these terms or the services, 
    including those arising from or relating to content made available on the services that is alleged to be defamatory, 
    offensive, or illegal. access to, and use of, the services is at your own discretion and risk, and you will be 
    solely responsible for any damage to your device or computer system, or resulting loss of data.
    the limitations of this section will apply to any theory of liability, including those based on warranty, contract, statute, 
    tort, negligence, strict liability, or otherwise, even if the reddit entities have been advised of the possibility of any such damage, 
    and even if any remedy set forth in these terms is found to have failed its essential purpose.

</h4>

<h2>
    17. Termination
</h2>

<h4>
    You may terminate these Terms at any time and for any reason by deleting your Account and discontinuing use of 
    all Services. If you stop using the Services without deactivating your Account, your Account may be deactivated 
    due to prolonged inactivity.
    <br>
    To the fullest extent permitted by applicable law, we may suspend or terminate your Account, 
    moderator status, or ability to access or use the Services at any time for any or no reason, 
    including for violating these Terms or our 
    
    <button mat-button color="primary" routerLink="/contentpolicy">
        "Content Policy"
    </button> 

</h4>

<h3>
    Don't spam the Simple-Reddit community
</h3>

<h3>
    Do not mess with Simple-Reddit
</h3>

<h3>
    Respect users that edit their content
</h3>

<h2>
    18. Contact Information:
</h2>

<h4>
    For questions, please contact - 
    
    <br>
    <button mat-button color="primary" class="hover-class3"(click)="copyMessage('manojjampana@ufl.edu'); showMessageSoon1()">
        manojjampana@ufl.edu
    </button>
    <br>
    <button mat-button color="primary" class="hover-class3" (click)="copyMessage('johnng@ufl.edu'); showMessageSoon2()">
        johnng@ufl.edu
    </button>
    <br>
    <button mat-button color="primary" class="hover-class3" (click)="copyMessage('shenoy.a@ufl.edu'); showMessageSoon3()">
        shenoy.a@ufl.edu
    </button>
    <br>
    <button mat-button color="primary" class="hover-class3" (click)="copyMessage('gsanthanam@ufl.edu'); showMessageSoon4()">
        gsanthanam@ufl.edu
    </button>

    <p *ngIf="showMyMessage">->Email Copied<-</p>
    <!-- <a href= ngjohn15@gmail.com>"ngjohn15@gmail.com"</a> -->
</h4>

<button mat-flat-button color="primary" class="hover-class1" routerLink="/home">
    Back
</button>

<!--Scroll to top-->

<div class="scroll-to-top " [ngClass]="{'show-scrollTop': windowScrolled}">
    <button type="button" class="btn active hover-class2" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
        <i class="fas fa-chevron-up" ></i>
        Top
    </button>
  </div>
