<mat-card>
    <mat-card-header>
        <mat-card-title>{{subreddit.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-subtitle>
        Subscribers: {{ subreddit.subscriber_count}}
    </mat-card-subtitle>
    <mat-card-subtitle>
        Created on: {{ subreddit.created_at}}
    </mat-card-subtitle>

    <mat-card-content>
      <p>
          {{ subreddit.description}}
      </p>
    </mat-card-content>
    <!-- Upvote and Downvote the Subreddits -->
    <mat-card-actions>
        <button id="downvoteButton" mat-flat-button color="primary" class="hover-class1">
            <mat-icon>thumb_up</mat-icon>
        </button>
        &nbsp;
        &nbsp;
        <button id="upvoteButton" mat-flat-button color="primary" class="hover-class2">
            <mat-icon>thumb_down</mat-icon>
        </button>
        &nbsp;
        &nbsp;
        &nbsp;
        <button id="subscribeButton" mat-flat-button color="primary" class="hover-class3" (click)="subscribeToCommunity(subreddit.name)">
            Subscribe
        </button>
        <button id="deleteCommunityButton" mat-button color="warn" (click)="deleteCommunity(subreddit.name, 'johntest')">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>