<mat-card>
    <mat-card-header>
      <mat-card-title>{{ post.title }}</mat-card-title>
      <mat-card-subtitle>created at {{ post.created_at }}</mat-card-subtitle>
      <mat-card-subtitle> {{ post.upvotes-post.downvotes }} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{post.body}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      &nbsp;
      <button mat-flat-button color="primary" class="hover-class2" (click)="upvotePost(post._id)">
        Upvote
      </button>
      &nbsp; &nbsp;
      <button mat-flat-button color="primary" class="hover-class3" (click)="downvotePost(post._id)">
        Downvote
      </button>
      &nbsp;
      &nbsp;
      <button mat-flat-button color="accent" class="hover-class7" (click)="togglePostSave(post._id)">
        <mat-icon>
          collections_bookmark
        </mat-icon>
      </button>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <!-- no post.username field yet -->
      &nbsp;
      &nbsp;
      &nbsp;
      <button mat-button color="warn" (click)="deletePost(post._id, post.title, post.username)">
        <mat-icon>
          delete
        </mat-icon>
      </button>
    </mat-card-actions>

    <!-- Create New Comment -->
    <mat-card-actions>
      <mat-form-field appearance="fill">
        <mat-label>Add a Comment</mat-label>
        <textarea #body matInput></textarea>
        <button mat-button color="primary" (click)="addComment(post._id, body.value)">
          Add Comment <mat-icon> add_comment</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-actions>

    <!-- Comments -->
    <mat-card-footer *ngIf="this.comments.length > 0">
        <ul *ngFor='let comment of this.comments'>
            <mat-card>
              <mat-card-header>
                {{ comment.upvotes - comment.downvotes }}
                {{ comment.username}}
              </mat-card-header>
              <mat-card-content>
                {{ comment.body }}
              </mat-card-content>
            </mat-card>
        </ul>
    </mat-card-footer>
  </mat-card>