
.center {
    justify-content: center;
}

.full-width{
    width: 100%;
}

td {
    padding-right: 8px;
}

/* mat-card-header {
    background: rgb(182, 207, 124);
    padding: 8px !important;
    margin-top: 5px !important;
    /* width: ; 
}*/

mat-card-title {
    background: #cadf0f; 
    padding:25px !important;
}

mat-card-content {
    background: rgb(16, 227, 235); 
    padding:25px !important;
}

mat-card-subtitle {
    background: rgb(191, 105, 165);
    padding: 25px !important;
    margin-top: 1px !important;
    /* width: ; 
}

mat-card-actions {
    padding:3px;
    /* float: right; */
    /* width: ; */
} 
  
mat-card-footer {
    background: rgb(153, 149, 149); 
    margin:0;
    padding: 20px;
}

.hover-class:hover {
    background-color: rgb(241, 14, 14);
}