&nbsp;
<br>
<mat-card>
    <mat-card-title>
        {{ profile.firstname + " " + profile.lastname }}
    </mat-card-title>
    <br>
    <mat-card-subtitle>
        {{ profile.username }}
    </mat-card-subtitle>
    <br>
    <mat-card-content>
        {{"email: " + profile.email }}
    </mat-card-content>

    <!-- <button mat-raised-button color="warn" a routerLink="/delete-user">
        Delete User
    </button> -->
    <button mat-flat-button color="primary" class="hover-class" routerLink="/delete-user">
        Delete User
    </button>
</mat-card>