<form [formGroup]="form">
    <br>
    <!-- Username isn't needed as the User already Logged in -->
    <!-- Username, until cookies are made -->
    <!-- <mat-form-field class="full-width" appearance="fill">
        <mat-label>Username</mat-label>
        <input name='username' formControlName="username" matInput #username required placeholder="JohnDoe" value="">
        <mat-error *ngIf="f['username'].touched && f['username'].invalid">
            Username cannot be empty
        </mat-error>
    </mat-form-field> -->

    <!-- Post Community -->
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Community</mat-label>
        <mat-select name="community" formControlName="community" [(value)]="selectedCommunity">
            <mat-option #community *ngFor="let community of communities" [value]="community._id">
              {{ community.name }}
            </mat-option>
            <mat-error *ngIf="f['community'].touched && f['community'].invalid">
                Community cannot be empty
            </mat-error>
        </mat-select>
    </mat-form-field>

    <!-- Post Title -->
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Title</mat-label>
        <input name='title' formControlName="title" matInput #title required placeholder="MyTitle" value="">
        <mat-error *ngIf="f['title'].touched && f['title'].invalid">
            Title cannot be empty
        </mat-error>
    </mat-form-field>

    <!-- Post Body -->
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Body</mat-label>
        <textarea name='body' formControlName="body" matInput type="text" #body required placeholder="This is my body comment." value="">
        </textarea>
        <mat-error *ngIf="f['body'].touched && f['body'].invalid">
            Body cannot be empty
        </mat-error>
    </mat-form-field>
    <!-- <button class='button1 hover-class' mat-raised-button color="warn" (click)="createPost(username.value, selectedCommunity, title.value, body.value)">
        Create Post
    </button> -->
    <!-- Username is directley read from logged in user data -->
    <button class='button1 hover-class1' mat-raised-button color="warn" (click)="createPost(selectedCommunity, title.value, body.value)">
        Create Post
    </button>
</form>

<!--Scroll to top-->

<div class="scroll-to-top " [ngClass]="{'show-scrollTop': windowScrolled}">
    <button type="button" class="btn active hover-class2" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
        <i class="fas fa-chevron-up" ></i>
        Top
    </button>
  </div>
    