<h1><b>
    <strong> 
       Mod Policy
    </strong>
</b></h1>

<h3> Info will be added Soon</h3>

<h2>
    Contact Information:
</h2>

<h4>
    <!-- For questions, please contact - <button (click)="copyMessage('ngjohn15@gmail.com'); showMessageSoon()">ngjohn15@gmail.com</button>
    <p *ngIf="showMyMessage">->Email Copied<-</p> -->
    <a href= ngjohn15@gmail.com>"ngjohn15@gmail.com"</a>
</h4>


<button mat-flat-button color="primary" class="hover-class1" routerLink="/home">
    Back
</button> 