/* .full-width{
    width: 100%;
} */

.full-width1{
    width: 110%;
}

.center {
    justify-content: center;
}

td {
    padding-left: 6px;
}

.button1{
    width: 110%;
}

.hover-class:hover {
    background-color: rgb(3, 124, 84);
    width: 110%;
}