<form [formGroup]="form">
    <br>
    <!-- Userid, until cookies are made -->
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>User_id</mat-label>
        <input name='user_id' formControlName="user_id" matInput #user_id required placeholder="JohnDoe123" value="">
        <mat-error *ngIf="f['user_id'].touched && f['user_id'].invalid">
            User_id cannot be empty
        </mat-error>
    </mat-form-field>

    <!-- Subreddit Name -->
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input name='name' formControlName="name" matInput #title required placeholder="Name" value="">
        <mat-error *ngIf="f['name'].touched && f['name'].invalid">
            Name cannot be empty
        </mat-error>
    </mat-form-field>

    <!-- Subreddit Description --> 
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea name='description' formControlName="description" matInput type="text" #body required placeholder="This is the description." value="">
        </textarea>
        <mat-error *ngIf="f['description'].touched && f['description'].invalid">
            Description cannot be empty
        </mat-error>
    </mat-form-field>
    <button class='full-width' mat-raised-button color="warn" (click)="createSubreddit()">Create Subreddit</button>
</form>
