<form [formGroup]="form">
    <br>
    <!-- Username, until cookies are made -->
    <!-- <mat-form-field class="full-width1" appearance="fill">
        <mat-label>Username</mat-label>
        <input name='username' formControlName="username" matInput #username required placeholder="JohnDoe" value="username">
        <mat-error *ngIf="f['username'].touched && f['username'].invalid">
            Username cannot be empty
        </mat-error>
    </mat-form-field> -->

     <!-- Community Name -->
    <mat-form-field class="full-width1" appearance="fill">
        <mat-label>Name</mat-label>
        <input name='name' formControlName="name" matInput #name required placeholder="Community Name" value="">
        
        <mat-error *ngIf="f['name'].touched && f['name'].invalid">
            Name cannot be empty
        </mat-error>
    </mat-form-field>

    <!-- Subreddit Description --> 
    <mat-form-field class="full-width1" appearance="fill">
        <mat-label>Description</mat-label>
        <input name='description' formControlName="description" matInput #description required placeholder="This is the description." value="">
        <!-- </textarea> -->
        <mat-error *ngIf="f['description'].touched && f['description'].invalid">
            Description cannot be empty
        </mat-error>
    </mat-form-field>
    
    &nbsp;
    &nbsp;
    <!-- Create New Subreddit -->
    &nbsp;&nbsp;
    <button class='button1 hover-class1' color="primary" mat-raised-button (click)="createSubreddit(name.value, description.value)">
        Create Subreddit
    </button>
</form>

<!--Scroll to top-->

<div class="scroll-to-top " [ngClass]="{'show-scrollTop': windowScrolled}">
    <button type="button" class="btn active hover-class2" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
        <i class="fas fa-chevron-up" ></i>
        Top
    </button>
  </div>
    
