mat-card {
    display:center;
    justify-content: center;
    /* justify-content: space-between; */
    width: 200%;
    margin-left:auto;
    margin-right:auto;  
    /* vertical-align:middle; */
}

mat-card-header {
    /* width: 97%; */
    background: rgb(194, 228, 146);
    padding: 8px !important;
    margin-top: 5px !important;
}

mat-card-content {
    /* width: 90.10%; */
    background: rgb(220, 182, 212); 
    padding:35px !important;
}

mat-card-actions {
    /* width: 120%; */
    padding:8px;
} 
  
mat-card-footer {
    /* width: 100%; */
    background: rgb(167, 165, 165); 
    margin:0;
    padding: 20px;
}

.scroll-to-top {
    position: fixed;
    display:flex;
    z-index: 87; 
    border: none; 
    outline: none; 
    background-color: rgb(122, 230, 20); 
    border-radius: 15px; 
    font-size: 20px; 
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.show-scrollTop {
    display: flex;
    position: fixed;
    background-color: rgb(122, 230, 20);
    font-size: 16px;
    opacity: 1;
    transition: all .2s ease-in-out;
}

.hover-class5:hover {
    background-color: rgb(94, 250, 9); 
} 

.hover-class1:hover {
    /* margin-right: 15px; */
    background-color: rgb(24, 138, 24);
}

.hover-class2:hover {
    /* margin-right: 15px; */
    background-color: rgba(255, 0, 0, 0.952);
}

.hover-class3:hover {
    /* margin-right: 10px; */
    background-color: rgb(236, 74, 10);
}

.hover-class4:hover {
    /* margin-left: -10px; */
    background-color: rgb(243, 11, 11);
}