<h1 mat-dialog-title>
    Editing Post {{ data.post.title }}
</h1>

<!-- Post Title -->
<mat-form-field class="full-width" appearance="fill">
    <mat-label>Title</mat-label>
    <input name='title' formControlName="title" matInput #title required value={{data.post.title}}>
    <mat-error *ngIf="f['title'].touched && f['title'].invalid">
        Title cannot be empty
    </mat-error>
</mat-form-field>

<!-- Post Body -->
<mat-form-field class="full-width" appearance="fill">
    <mat-label>Body</mat-label>
    <textarea name='body' formControlName="body" matInput type="text" #body required value={{data.post.body}}>
    </textarea>
    <mat-error *ngIf="f['body'].touched && f['body'].invalid">
        Body cannot be empty
    </mat-error>
</mat-form-field>

<button mat-raised-button class="hover-class2" [mat-dialog-close]="true" (click)="editPost(data.post._id, title.value, body.value)">
    Edit Post
</button>