<h1 mat-dialog-title>
    Editing Post {{ data.post.title }}
</h1>

<!-- Post Community -->
<mat-form-field class="full-width" appearance="fill">
    <mat-label>Community</mat-label>
    <mat-select name="community" formControlName="community" [(value)]="selectedCommunity">
        <mat-option #community *ngFor="let community of communities" [value]="community._id">
            {{ community.name }}
        </mat-option>
        <mat-error *ngIf="f['community'].touched && f['community'].invalid">
            Community cannot be empty
        </mat-error>
    </mat-select>
</mat-form-field>

<!-- Post Title -->
<mat-form-field class="full-width" appearance="fill">
    <mat-label>Title</mat-label>
    <input name='title' formControlName="title" matInput #title required value={{data.post.title}}>
    <mat-error *ngIf="f['title'].touched && f['title'].invalid">
        Title cannot be empty
    </mat-error>
</mat-form-field>

<!-- Post Body -->
<mat-form-field class="full-width" appearance="fill">
    <mat-label>Body</mat-label>
    <textarea name='body' formControlName="body" matInput type="text" #body required value={{data.post.body}}>
    </textarea>
    <mat-error *ngIf="f['body'].touched && f['body'].invalid">
        Body cannot be empty
    </mat-error>
</mat-form-field>

<button mat-raised-button [mat-dialog-close]="true" (click)="editPost(data.post._id, selectedCommunity, title.value, body.value)">
    Edit Post
</button>