body{
    background-color:white ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.signup-form{
    width: 360px;
    height:620px;
    margin: auto;
    background-color:cornsilk;
    border-radius: 3px; 
}

h1{
    text-align: center;
    padding-top:15px;
}
h4{
    text-align: center;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display:flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color:crimson ;
    color:white;
    font-size: 18px;
}

p{
 text-align: center;
 padding-top:20px;
 font-size: 15px;
}

.para-2{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    margin-top: -10px;
}

.para-2 a{
    color:turquoise;   
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
