<h1><b><strong>Privacy Policy</strong></b></h1>

<h4>
    We want you to understand how and why SimpleReddit, Inc. (“Simple Reddit,“we”) collects, uses, and shares information
    about you when you access and use Simple Reddit’s websites, mobile apps, widgets, and other online products and services 
    (collectively, the "Services") or when you otherwise interact with us. This Privacy Policy applies to all of our
    Services, including those that maintain a separate Privacy Notice that incorporates this Privacy Policy by reference.
</h4>


<h2>
    Information You Provide to Us
</h2>

<h4>
    We collect information you provide directly to us when you use our Services.
    Depending on which Service you use, we may collect different information about you. This includes:
</h4>

<h3>
    Transactional Information
</h3>

<h4>
    If you purchase products or services from us we will collect certain information from you, 
    including your name, address, email address, and information about the product or 
    service you are purchasing. Payments are processed by third-party payment processors 
    so please refer to the applicable processor’s terms and privacy 
    policy for more information about how payment information is processed and stored.

</h4>

<h3>
    Information Regarding Your Use of the Services
</h3>

<h4>
    We collect the content and other information you provide when you use our Services. 
    This includes information used to create your account (e.g., a username, password and at your option, 
    an email address), account preferences, the content of private messages between you and other users or 
    communities (e.g., modmail), and the content of information you post to the Services 
    (e.g., text, photos, videos, links).

</h4>

<h3>
    Other Information
</h3>

<h4>
    You may choose to provide other information directly to us. 
    For example, we may collect information when you fill out a form, participate in contests,
    sweepstakes or promotions, apply for a job, communicate with us via third-party sites and services, 
    request customer support or otherwise communicate with us.

</h4>

<h2>
    Information We Collect Automatically
</h2>

<h4>
    When you access or use our Services, we may also automatically collect information about you. This includes:
</h4>

<h3>
    Log and Usage Data
</h3>

<h4>
    We may log information when you access and use the Services. 
    This may include your IP address, user-agent string, browser type, operating system, referral URLs, 
    device information, pages visited, links clicked, user interactions (e.g., voting data), 
    the requested URL, hardware settings, and search terms. Except for the IP address used to create your account, 
    Simple Reddit will delete any IP addresses collected after 100 days.

</h4>

<h3>
    Information Collected from Cookies
</h3>

<h4>
    We may receive information from cookies, which are pieces of data your browser stores and 
    sends back to us when making requests. We use this information to improve your experience, 
    understand user activity, personalize content and advertisements, and improve the quality of our Services. 
    For example, we store and retrieve information about your preferred language and other settings. 
    For more information on how you can disable cookies, please see “Your Choices” below.

</h4>

<h3>
    Information Collected from Integrations
</h3>

<h4>
    We may receive information about you from third-party websites that integrate our Services, 
    including our widgets, buttons, and advertising technology. For example, when you visit a website 
    that uses our comment-embed widget, we may receive information about the web page you visited. 
    You can control how we use this information to personalize the Services for you by adjusting your preferences here.
</h4>

<h3>
    Location Information
</h3>

<h4>
    We may receive and process information about your location. For example, with your consent, 
    we may collect information about the specific location of your mobile device (for example, 
    by using GPS or Bluetooth). You can revoke this consent at any time by changing the preferences on 
    your device, but doing so may affect your ability to use all of the features and functionality of our Services. 
    We may also receive location information from you when you choose to share such information on 
    our Services, including by associating your content with a location, or we may derive your approximate 
    location from other information about you, including your IP address.

</h4>

<h2>
    Information We Collect from Other Sources
</h2>

<h4>
    We may receive information about you from other sources, including from other users and 
    third parties, and combine that information with the other information we have about you. 
    For example, we may receive demographic or interest information about you from third parties, 
    including advertisers, and combine it with our own data using a common account identifier such as a hash 
    of an email address or a mobile-device ID. You can control how we use this information to personalize the 
    Services for you by adjusting your preferences here.

</h4>

<h2>
    Social Sharing
</h2>

<h4>
    We may offer social sharing features or other integrated tools that let you share content or 
    actions you take on our Services with other media. Your use of these features enables the sharing of 
    certain information with your friends or the public, depending on the settings you establish with the 
    third party that provides the social sharing feature. For more information about the purpose and scope of 
    data collection and processing in connection with social sharing features, please visit the privacy policies 
    of the third parties that provide these social sharing features (e.g., Facebook, ect).

</h4>

<h2>
    How We Use Information About You
</h2>

<h4>
    We use information about you to:
</h4>

<h4>
    ->Provide, maintain, and improve the Services;
    <br>
    ->Help protect the safety of Reddit and our users, which includes blocking suspected spammers, 
    addressing abuse, and enforcing the Simple Reddit user agreement;
    <br>
    ->Send you technical notices, updates, security alerts, invoices and other support and administrative messages;
    <br>
    ->Provide customer service;
    <br>
    ->Communicate with you about products, services, offers, promotions, and events, and provide 
    other news and information we think will be of interest to you (for information about how to opt 
    out of these communications, see “Your Choices” below);
    <br>
    ->Monitor and analyze trends, usage, and activities in connection with our Services; and
    <br>
    ->Personalize the Services and provide advertisements, content and features that match user profiles 
    or interests. (for information about how to manage the types of advertisements you experience 
    on our Services, see “Your Choices” below).
</h4>

<h2>
    How We Share Information
</h2>

<h3>
    When you use the Services, certain information may be shared with other users and the public. For example:
</h3>

<h4>
    --> When you submit a post or comment to the Services, visitors to and users of our Services 
    will be able to see the content of your posts and comments, the username associated with your posts or 
    comments, and the date and time you originally submitted the post or comment. Although some parts of 
    the Services may be private or quarantined, they may become public (e.g., at the moderator’s option 
    in the case of private communities) and you should take that into consideration before posting to the Services.

</h4>

<h4>
    -->When you send private messages or messages via modmail, the recipients of those messages will 
    be able to see the content of your message, your username, and the date and time the message was sent. 
    Moderators may elect to have modmail forwarded to their email accounts and, as a result, any modmail received
    by these moderators will be subject to the terms and policies of the moderator’s email provider.

</h4>

<h4>
    -->When other users view your profile, they will be able to see information about your activities on 
    the Services, such as your username, prior posts and comments, karma, trophies, moderator status, 
    Simple Reddit Gold status, and how long you have been a member of the Services.

</h4>

<h4>
    Please note that, even when you delete your account, the posts, comments and messages you submit 
    through the Services may still be viewable or available on our servers. For more information, see 
    “Your Choices” below.

</h4>

<h4>
    We will not share, sell, or give away any of our users’ personal information to third parties, 
    unless one of the following circumstances applies:

</h4>

<h4>
    -> Except as it relates to advertisers and our ad partners, we may share information with vendors, 
    consultants, and other service providers who need access to such information to carry out work for us;
    <br>
    -> If you participate in contests, sweepstakes, promotions, special offers, or other events or activities 
    in connection with our Services, we may share information with entities that partner with us to 
    provide these offerings;
    <br>
    -> We may share information (and will attempt to provide you with prior notice, to the extent legally permissible)
    in response to a request for information if we believe disclosure is in accordance with, or required 
    by, any applicable law, regulation, legal process or governmental request, including, but not 
    limited to, meeting national security or law enforcement requirements;
    <br>
    -> We may share information in response to an emergency if we believe it's necessary to prevent 
    imminent and serious bodily harm to a person;
    <br>
    -> We may share information if we believe your actions are inconsistent with our user agreements, 
    rules, or other Simple Reddit policies, or to protect the rights, property, and safety of ourselves and others;
    <br>
    -> We may share information between and among Reddit, and its current and future parents, affiliates,
    subsidiaries, and other companies under common control and ownership; and

</h4>

<h2>
    Ads and Analytics Partners
</h2>

<h4>
    We may partner with third-party advertisers, ad networks, and analytics providers to deliver advertising 
    and content targeted to your interests and to better understand your use of the Services. 
    These third parties may collect information sent by your computer, browser, or mobile device in 
    response to a request for content, such as unique identifiers, your IP address, or other 
    information about your computer or device.

</h4>

<h2>
    Advertisers and Ad Networks
</h2>

<h4>
    Our ad partners and ad networks may use cookies and use related technologies to collect information 
    when ads are delivered to you on our Services, but Simple Reddit does not link to or provide them 
    with your actual Reddit account details. This means that Reddit does not share your individual 
    account browsing habits with advertisers. Reddit cannot see advertisers’ cookies and advertisers
    will not see Simple Reddit cookies.

</h4>

<h2>
    Analytics Partners
</h2>

<h4>
    We use analytics partners (such as Google Analytics) to help analyze usage and traffic for our Services. 
    As an example, we may use analytics partners to analyze and measure, in the aggregate, 
    the number of unique visitors to our Services.
</h4>

<h2>
    Security
</h2>

<h4>
    We take reasonable measures to help protect information about you from loss, theft, 
    misuse and unauthorized access, disclosure, alteration, and destruction.

</h4>

<h2>
    Children under 13
</h2>

<h4>
    Although we welcome users from all walks of life, Simple Reddit is not intended or directed at 
    individuals under the age of 13. Therefore, individuals under the age of 13 may not create an 
    account or otherwise access or use the Services.

</h4>

<h2>
    Your Choices
</h2>

<h4>
    As a Simple Reddit user, you have choices about how to protect and limit the collection, 
    use, and disclosure of, information about you. This includes:

</h4>

<h2>
    Preferences
</h2>

<h4>
    We may provide you with tools and preference settings that allow you to access, correct, 
    delete, and modify information associated with your account.

</h4>

<h2>
    Account Information
</h2>

<h4>
    You may delete your account information at any time by logging into your account and following the steps under 
    “Preferences.” When you delete your account, your profile is no longer visible to other users and disassociated 
    from content you posted under that account. Please note, however, that the posts, comments, and messages you 
    submitted prior to deleting your account will still be visible to others, unless you delete such content.
    We may also retain certain information about you as required by law or for legitimate business purposes 
    after you delete your account.

</h4>

<h2>
    Cookies
</h2>

<h4>
    Most web browsers are set to accept cookies by default. If you prefer, you can usually choose 
    to set your browser to remove or reject first- and third-party cookies. Please note that if you 
    choose to remove or reject cookies, this could affect the availability and functionality of our Services.

</h4>

<h2>
    Do Not Track
</h2>

<h4>
    Most modern web browsers give you the option to send a Do Not Track signal to the websites you visit, 
    indicating that you do not wish to be tracked. However, there is no accepted standard for how a website 
    should respond to this signal, and we do not take any action in response to this signal. Instead, 
    in addition to publicly available third-party tools, we offer you the choices described in this 
    policy to manage the collection and use of information about you.

</h4>

<h2>
    Promotional Communications
</h2>

<h4>
    You may opt out of receiving promotional communications from us by following the instructions 
    in those communications. If you opt out, we may still send you non-promotional communications, 
    such as information about your account or your use of our Services.

</h4>

<h2>
    Changes
</h2>

<h4>
    We may change this Privacy Policy from time to time. If we do, we will let you know by revising the date 
    at the top of the policy. If we make a change to this policy that, in our sole discretion, is material, 
    we will provide you with additional notice (such as adding a statement to r/announcements, the front page 
    of the Services or sending you a notification). We encourage you to review the Privacy Policy whenever you 
    access or use our Services or otherwise interact with us to stay informed about our information practices 
    and the ways you can help protect your privacy. If you continue to use our Services after Privacy Policy 
    changes go into effect, you consent to the revised policy.


</h4>

<br>

<h2>
    <b>Contact Information:</b>
</h2>

<h4>
    For questions, please contact - 
    
    <br>
    <button mat-button color="primary" class="hover-class3"(click)="copyMessage('manojjampana@ufl.edu'); showMessageSoon1()">
        manojjampana@ufl.edu
    </button>
    <br>
    <button mat-button color="primary" class="hover-class3" (click)="copyMessage('johnng@ufl.edu'); showMessageSoon2()">
        johnng@ufl.edu
    </button>
    <br>
    <button mat-button color="primary" class="hover-class3" (click)="copyMessage('shenoy.a@ufl.edu'); showMessageSoon3()">
        shenoy.a@ufl.edu
    </button>
    <br>
    <button mat-button color="primary" class="hover-class3" (click)="copyMessage('gsanthanam@ufl.edu'); showMessageSoon4()">
        gsanthanam@ufl.edu
    </button>

    <p *ngIf="showMyMessage">->Email Copied<-</p>
    
</h4>


<button mat-flat-button color="primary" class="hover-class1" routerLink="/home">
    Back
</button>

<!--Scroll to top-->

<div class="scroll-to-top " [ngClass]="{'show-scrollTop': windowScrolled}">
    <button type="button" class="btn active hover-class2" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
        <i class="fas fa-chevron-up" ></i>
        Top
    </button>
  </div>