<h1><b><strong>Privacy Policy</strong></b></h1>

<h4>
    We want you to understand how and why SimpleReddit, Inc. (“Simple Reddit,“we”) collects, uses, and shares information
    about you when you access and use Simple Reddit’s websites, mobile apps, widgets, and other online products and services 
    (collectively, the "Services") or when you otherwise interact with us. This Privacy Policy applies to all of our
    Services, including those that maintain a separate Privacy Notice that incorporates this Privacy Policy by reference.
</h4>


<h2>
    Information You Provide to Us
</h2>

<h4>
    We collect information you provide directly to us when you use our Services.
    Depending on which Service you use, we may collect different information about you. This includes:
</h4>

<h3>
    Transactional Information
</h3>

<h4>
    If you purchase products or services from us we will collect certain information from you, 
    including your name, address, email address, and information about the product or 
    service you are purchasing. Payments are processed by third-party payment processors 
    so please refer to the applicable processor’s terms and privacy 
    policy for more information about how payment information is processed and stored.

</h4>

<h3>
    Information Regarding Your Use of the Services
</h3>

<h4>
    We collect the content and other information you provide when you use our Services. 
    This includes information used to create your account (e.g., a username, password and at your option, 
    an email address), account preferences, the content of private messages between you and other users or 
    communities (e.g., modmail), and the content of information you post to the Services 
    (e.g., text, photos, videos, links).

</h4>

<h3>
    Other Information
</h3>

<h4>
    You may choose to provide other information directly to us. 
    For example, we may collect information when you fill out a form, participate in contests,
    sweepstakes or promotions, apply for a job, communicate with us via third-party sites and services, 
    request customer support or otherwise communicate with us.

</h4>

<h2>
    Information We Collect Automatically
</h2>

<h4>
    When you access or use our Services, we may also automatically collect information about you. This includes:
</h4>

<h3>
    Log and Usage Data
</h3>

<h4>
    We may log information when you access and use the Services. 
    This may include your IP address, user-agent string, browser type, operating system, referral URLs, 
    device information, pages visited, links clicked, user interactions (e.g., voting data), 
    the requested URL, hardware settings, and search terms. Except for the IP address used to create your account, 
    Simple Reddit will delete any IP addresses collected after 100 days.

</h4>

<h3>
    Information Collected from Cookies
</h3>

<h4>
    We may receive information from cookies, which are pieces of data your browser stores and 
    sends back to us when making requests. We use this information to improve your experience, 
    understand user activity, personalize content and advertisements, and improve the quality of our Services. 
    For example, we store and retrieve information about your preferred language and other settings. 
    For more information on how you can disable cookies, please see “Your Choices” below.

</h4>

<h3>
    Information Collected from Integrations
</h3>

<h4>
    We may receive information about you from third-party websites that integrate our Services, 
    including our widgets, buttons, and advertising technology. For example, when you visit a website 
    that uses our comment-embed widget, we may receive information about the web page you visited. 
    You can control how we use this information to personalize the Services for you by adjusting your preferences here.
</h4>

<h3>
    Location Information
</h3>

<h4>
    We may receive and process information about your location. For example, with your consent, 
    we may collect information about the specific location of your mobile device (for example, 
    by using GPS or Bluetooth). You can revoke this consent at any time by changing the preferences on 
    your device, but doing so may affect your ability to use all of the features and functionality of our Services. 
    We may also receive location information from you when you choose to share such information on 
    our Services, including by associating your content with a location, or we may derive your approximate 
    location from other information about you, including your IP address.

</h4>

<h2>
    Information We Collect from Other Sources
</h2>

<h4>
    We may receive information about you from other sources, including from other users and 
    third parties, and combine that information with the other information we have about you. 
    For example, we may receive demographic or interest information about you from third parties, 
    including advertisers, and combine it with our own data using a common account identifier such as a hash 
    of an email address or a mobile-device ID. You can control how we use this information to personalize the 
    Services for you by adjusting your preferences here.

</h4>

<h2>
    Social Sharing
</h2>

<h4>
    We may offer social sharing features or other integrated tools that let you share content or 
    actions you take on our Services with other media. Your use of these features enables the sharing of 
    certain information with your friends or the public, depending on the settings you establish with the 
    third party that provides the social sharing feature. For more information about the purpose and scope of 
    data collection and processing in connection with social sharing features, please visit the privacy policies 
    of the third parties that provide these social sharing features (e.g., Facebook, ect).

</h4>

<h2>
    How We Use Information About You
</h2>

<h4>
    We use information about you to:
</h4>

<h4>
    ->Provide, maintain, and improve the Services;
    <br>
    ->Help protect the safety of Reddit and our users, which includes blocking suspected spammers, 
    addressing abuse, and enforcing the Simple Reddit user agreement;
    <br>
    ->Send you technical notices, updates, security alerts, invoices and other support and administrative messages;
    <br>
    ->Provide customer service;
    <br>
    ->Communicate with you about products, services, offers, promotions, and events, and provide 
    other news and information we think will be of interest to you (for information about how to opt 
    out of these communications, see “Your Choices” below);
    <br>
    ->Monitor and analyze trends, usage, and activities in connection with our Services; and
    <br>
    ->Personalize the Services and provide advertisements, content and features that match user profiles 
    or interests. (for information about how to manage the types of advertisements you experience 
    on our Services, see “Your Choices” below).
</h4>

<h2>
    Contact Information:
</h2>

<h4>
    For questions, please contact - 
    
    <br>
    <button mat-button color="primary" class="hover-class3"(click)="copyMessage('manojjampana@ufl.edu'); showMessageSoon1()">
        manojjampana@ufl.edu
    </button>
    <br>
    <button mat-button color="primary" class="hover-class3" (click)="copyMessage('johnng@ufl.edu'); showMessageSoon2()">
        johnng@ufl.edu
    </button>
    <br>
    <button mat-button color="primary" class="hover-class3" (click)="copyMessage('shenoy.a@ufl.edu'); showMessageSoon3()">
        shenoy.a@ufl.edu
    </button>
    <br>
    <button mat-button color="primary" class="hover-class3" (click)="copyMessage('gsanthanam@ufl.edu'); showMessageSoon4()">
        gsanthanam@ufl.edu
    </button>

    <p *ngIf="showMyMessage">->Email Copied<-</p>
    
</h4>


<button mat-flat-button color="primary" class="hover-class1" routerLink="/home">
    Back
</button>

<!--Scroll to top-->

<div class="scroll-to-top " [ngClass]="{'show-scrollTop': windowScrolled}">
    <button type="button" class="btn active hover-class2" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
        <i class="fas fa-chevron-up" ></i>
        Top
    </button>
  </div>