<mat-toolbar color="primary">
    <span class="material-icons">reddit</span> &nbsp; &nbsp; <span><a mat-button class="example-label" routerLink="home">Reddit</a></span>
    <div class="spacer"></div>
        <button mat-flat-button color="primary" class="hover-class" routerLink="home">
            Home
        </button>
        <button mat-flat-button color="primary" class="hover-class1" routerLink="subreddits">
            Subreddits
        </button>
        <button *ngIf="getLoginStatus()" mat-flat-button color="primary" class="hover-class2" routerLink="profile">
            Profile
        </button>
        <button *ngIf="!getLoginStatus()" mat-flat-button color="primary" class="hover-class3" routerLink="login">
            Log In
        </button>
        <button *ngIf="getLoginStatus()" mat-flat-button color="warn" class="hover-class3" (click)="getLogOut()" routerLink="login">
            Log Out
        </button>
        
</mat-toolbar>    