<header>
    <h1>
        {{ title }}
    </h1>

    <div *ngIf='!usrLoggedIn; else elseTemplate'>
        <form action=" /" id="myLogin">
            <input matInput #usrInput required placeholder="username" value="Username"><br>
            <input matInput #usrPwd required placeholder="password" value="password"><br>
            <button mat-raised-button color="primary" (click)="getLogIn(usrInput.value, usrPwd.value)">Log In</button>
            <button mat-raised-button color="warn" a routerLink="/signupform" >Signup</button>

        </form>
    </div>
    <div>
        <form>
            <ng-template #elseTemplate>
                {{usr + " is logged in."}}<br><br>
                <button mat-raised-button color="warn" (click)="getLogOut()">Log Out</button>
            </ng-template>
        </form>
    </div>
</header>