.loginForm {
    width: 100%;
    justify-content: center;
}

.logoutForm {
    width: 100%;
    justify-content: center;
}

.navbar {
    justify-content: center;
}

.center {
    background-color: #52baff;
    display: flex;
    justify-content: center;
}

.button {
    margin-left: 5px;
    margin-right: 5px;
}