<header>
    <div class='center'>
        <h1>
            <app-navbar>
            </app-navbar>
        </h1>
    </div>

    <div class='center' *ngIf='!usrLoggedIn; else elseTemplate'>
        <form action=" /" id="myLogin">
            Log In<br>
            <input matInput #usrInput required placeholder="username" value=""><br>
            <input matInput type="password" #usrPwd required placeholder="password" value=""><br><br>
            <button class='button' mat-raised-button color="primary" (click)="getLogIn(usrInput.value, usrPwd.value)">Log In</button>
            <button class='button' mat-raised-button color="warn" a routerLink="/signupform" >Signup</button>
        </form>
    </div>
    <div class='center'>
        <ng-template #elseTemplate>
            {{"You're logged in as "+usr}}
            <button mat-raised-button color="warn" (click)="getLogOut()">Log Out</button>
        </ng-template>
    </div>
</header>