<h2><b>Content Policy</b></h2>

<h4>
    Simple Reddit is a vast network of communities that are created, run, and populated by you, the Simple Reddit users.
</h4>

    <br>

    Through these communities, you can post, comment, vote, discuss, learn, debate, support, 
    and connect with people who share your interests, and we encourage you to find—or even create—your home on Simple Reddit.
    
    <br>

    While not every community may be for you (and you may find some unrelatable or even offensive), 
    no community should be used as a weapon. Communities should create a sense of belonging for their members, 
    not try to diminish it for others. Likewise, everyone on Reddit should have an expectation of privacy and safety, 
    so please respect the privacy and safety of others.
    
    <br>
    Every community on Reddit is defined by its users. Some of these users help manage the community as moderators. 
    The culture of each community is shaped explicitly, by the community rules enforced by moderators, and implicitly, 
    by the upvotes, downvotes, and discussions of its community members. Please abide by the rules of communities 
    in which you participate and do not interfere with those in which you are not a member.
    
    <br>
    
    Below the rules governing each community are the platform-wide rules that apply to everyone on Simple Reddit. 
    These rules are enforced by us, the admins.
    
    <br>
    Reddit and its communities are only what we make of them together, and can only exist if we operate by
    a shared set of rules. We ask that you abide by not just the letter of these rules, but the spirit as well.

<br>
<br>
<h2>
    <b>
        Rules
    </b>
</h2>

<h3>
    Rule 1
</h3>

<h4>
    Remember the human. Reddit is a place for creating community and belonging, not for attacking
    marginalized or vulnerable groups of people. Everyone has a right to use Simple Reddit free 
    of harassment, bullying, and threats of violence. Communities and users that incite violence or 
    that promote hate based on identity or vulnerability will be banned.

</h4>

<h3>
    Rule 2
</h3>

<h4>
    Abide by community rules. Post authentic content into communities where you have a personal interest,
    and do not cheat or engage in content manipulation (including spamming, vote manipulation, 
    ban evasion, or subscriber fraud) or otherwise interfere with or disrupt SimPle Redit communities.

</h4>

<h3>
    Rule 3
</h3>

<h4>
    Respect the privacy of others. Instigating harassment, for example by revealing someone’s 
    personal or confidential information, is not allowed. Never post or threaten to post intimate 
    or sexually-explicit media of someone without their consent.

</h4>

<h3>
    Rule 4
</h3>

<h4>
    Do not post or encourage the posting of sexual or suggestive content involving minors.
</h4>

<h3>
    Rule 5
</h3>

<h4>
    You don’t have to use your real name to use Reddit, but don’t impersonate an individual or an 
    entity in a misleading or deceptive manner.

</h4>

<h3>
    Rule 6
</h3>

<h4>
    Ensure people have predictable experiences on Simple Reddit by properly labeling content and communities, 
    particularly content that is graphic, sexually-explicit, or offensive.

</h4>

<h3>
    Rule 7
</h3>

<h4>
    Keep it legal, and avoid posting illegal content or soliciting or facilitating illegal or prohibited transactions.
</h4>

<h3>
    Rule 8
</h3>

<h4>
    Don’t break the site or do anything that interferes with normal use of Simple Reddit.
</h4>

<h2>
    <b>
        Enforcement
    </b>
</h2>

<h4>
    We have a variety of ways of enforcing our rules, including, but not limited to
</h4>

<h4>
    ->Asking you nicely to knock it off
    <br>
    ->Asking you less nicely
    <br>
    ->Temporary or permanent suspension of accounts
    <br>
    ->Removal of privileges from, or adding restrictions to, accounts
    <br>
    ->Adding restrictions to Reddit communities, such as adding NSFW tags or Quarantining
    <br>
    ->Removal of content
    <br>
    ->Banning of Reddit communities
    <br>
</h4>

<h2>
    Contact Information:
</h2>

<h4>
    For questions, please contact - 
    
    <br>
    <button mat-button color="primary" class="hover-class3"(click)="copyMessage('manojjampana@ufl.edu'); showMessageSoon1()">
        manojjampana@ufl.edu
    </button>
    <br>
    <button mat-button color="primary" class="hover-class3" (click)="copyMessage('johnng@ufl.edu'); showMessageSoon2()">
        johnng@ufl.edu
    </button>
    <br>
    <button mat-button color="primary" class="hover-class3" (click)="copyMessage('shenoy.a@ufl.edu'); showMessageSoon3()">
        shenoy.a@ufl.edu
    </button>
    <br>
    <button mat-button color="primary" class="hover-class3" (click)="copyMessage('gsanthanam@ufl.edu'); showMessageSoon4()">
        gsanthanam@ufl.edu
    </button>

    <p *ngIf="showMyMessage">->Email Copied<-</p>
</h4>

<button mat-flat-button color="primary" class="hover-class1" routerLink="/home">
    Back
</button>

<!--Scroll to top-->

<div class="scroll-to-top " [ngClass]="{'show-scrollTop': windowScrolled}">
    <button type="button" class="btn active hover-class2" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
        <i class="fas fa-chevron-up" ></i>
        Top
    </button>
 </div>