<br>
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;

<!-- Create a New Post -->
<button mat-flat-button color="primary" class="hover-class1" routerLink="/newpostform">
  Create New Post
</button>

<!-- Public Posts -->
<ul *ngFor='let post of this.posts'>
  <mat-card>
    <mat-card-header>
      <div (click)="gotoPost(post._id)">
        <mat-card-title>{{ post.title }}</mat-card-title>
        <mat-card-subtitle>created at {{ post.created_at }}</mat-card-subtitle>
        <mat-card-subtitle> {{ post.upvotes-post.downvotes }} </mat-card-subtitle>
    </div>
    </mat-card-header>
    <mat-card-content>
      <div (click)="gotoPost(post._id)">
      <p>
        {{post.body}}
      </p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button>Upvote</button> -->
      &nbsp;
      <button mat-flat-button color="primary" class="hover-class2" (click)="upvotePost(post._id)">
        Upvote
      </button>
      &nbsp; &nbsp;
      <!-- <button mat-button>Downvote</button> -->
      <button mat-flat-button color="primary" class="hover-class3" (click)="downvotePost(post._id)">
        Downvote
      </button>
      &nbsp;
      <button mat-flat-button color="primary" class="hover-class6" (click)="gotoPost(post._id)">
        <mat-icon>
          comment
        </mat-icon>
      </button>
      &nbsp;&nbsp;
      &nbsp;
      <button mat-flat-button color="accent" class="hover-class7" (click)="togglePostSave(post._id)">
        <mat-icon>
          collections_bookmark
        </mat-icon>
      </button>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <!-- no post.username field yet -->
      &nbsp;
      &nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-button color="warn" (click)="deletePost(post._id, post.title, post.username)">
        <mat-icon>
          delete
        </mat-icon>
      </button>
    </mat-card-actions>
    <!-- Comments -->
    <ul *ngFor="let comment of comments">
      <mat-card>
        <mat-card-content>
          <p>
            {{ comment.get(post._id)}}
            test
          </p>
        </mat-card-content>
      </mat-card>
    </ul>
  </mat-card>
</ul>
<!--Scroll to top-->

<div class="scroll-to-top " [ngClass]="{'show-scrollTop': windowScrolled}">
  <button type="button" class="btn active hover-class4" data-toggle="button" aria-pressed="true"
    (click)="scrollToTop()">
    <i class="fas fa-chevron-up"></i>
    Top
  </button>
</div>


<!-- Terms and Conditions -->

<button mat-raised-button color="warn" class="hover-class5" routerLink="/termsandconditions">
  Terms and Conditions
</button>

&nbsp;
&nbsp;
&nbsp;

<button mat-raised-button color="warn" class="hover-class5" routerLink="/privacypolicy">
  Privacy Policy
</button>

&nbsp;
&nbsp;
&nbsp;

<button mat-raised-button color="warn" class="hover-class5" routerLink="/contentpolicy">
  Content Policy
</button>

&nbsp;
&nbsp;
&nbsp;

<button mat-raised-button color="warn" class="hover-class5" routerLink="/modpolicy">
  Mod Policy
</button>